.app-header-container {
    background-color: #4896d1;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    .app-header-title {
        padding: 15px 25px;
        font-size: 25px;
        a {
            text-decoration: none;
            color: white;
        }
    }
    .app-header-links {
        display: flex;
        justify-content: space-between;
        a {
            color: white;
            text-decoration: none;
        }
        .app-about, .app-table {
            margin: 15px 20px;
            color: white;
        }
        .app-lang {
            margin: 15px 25px;
            color: white;
            cursor: pointer;
        }
    }
    .hamburger {
        display: none;
        padding: 13px 5px 5px 5px;
        cursor: pointer;
        color: white;
    }
    
}

@media screen and (max-width: 710px) {
    .app-header-container {
        .app-header-title {
            padding: 15px 10px;
            font-size: 22px;
        }
        .app-header-links {
            .app-about, .app-table  {
                margin: 15px 20px;
            }
            .app-lang {
                margin: 15px 20px;
            }
            
        }
    }  
}

@media screen and (max-width: 500px) {
    .app-header-container {
        .app-header-title {
            padding: 15px 10px;
            font-size: 22px;
        }
        .app-header-links {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .app-about, .app-table  {
                margin: 15px 20px;
            }
            &.app-expanded {
                order: 1; 
                display: flex;
                background-color: #3586bb;
                width: 100%;
                z-index: 2;
            }
        }
        .hamburger {
            display: flex;
            order: 0;
            color: whitesmoke;
        }
    }  
}

@media screen and (max-width: 350px) {
    .app-header-container {
        .app-header-title {
            padding: 15px 10px;
            font-size: 20px;
        }
        .app-header-links {
            .app-about, .app-table  {
                margin: 15px 15px;
                font-size: smaller;
            }
            .app-lang {
                margin: 15px 15px;
                font-size: smaller;
            }
        }
    }  
}

@media screen and (max-width: 280px) {
    .app-header-container {
        .app-header-title {
            padding: 15px 10px;
            font-size: 16px;
        }
    }  
}