.app-header-container {
    background-color: #276690;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .app-header-title {
        padding: 15px 25px;
        font-size: 25px;
        a {
            text-decoration: none;
            color: white;
        }
    }
    .app-header-links {
        display: flex;
        justify-content: space-between;
        .app-table {
            margin: 15px 25px;
            color: white;
            a {
                color: white;
                text-decoration: none;
            }
        }
        .app-lang {
            margin: 15px 25px;
            color: white;
            cursor: pointer;
        }
    }
    
}

@media screen and (max-width: 710px) {
    .app-header-container {
        .app-header-title {
            padding: 15px 10px;
            font-size: 22px;
        }
        .app-header-links {
            .app-table {
                margin: 15px 20px;
            }
            .app-lang {
                margin: 15px 20px;
            }
        }
    }  
}

@media screen and (max-width: 350px) {
    .app-header-container {
        .app-header-title {
            padding: 15px 10px;
            font-size: 20px;
        }
        .app-header-links {
            .app-table {
                margin: 15px 15px;
                font-size: smaller;
            }
            .app-lang {
                margin: 15px 15px;
                font-size: smaller;
            }
        }
    }  
}

@media screen and (max-width: 280px) {
    .app-header-container {
        .app-header-title {
            padding: 15px 10px;
            font-size: 16px;
        }
    }  
}