<div class="app-header-container">
    <div class="app-header-title">
        <a href="/">{{'header.title' | translate}}</a>
    </div>
    <div class="app-header-links" [class.app-expanded]="isExpanded">
        <div class="app-table"><a href="/">{{ 'header.table' | translate }}</a></div>
        <div class="app-about"><a href="/about">{{ 'header.about' | translate }}</a></div>
        <div class="app-lang" (click)="toggleLanguage()">{{ displayLanguage }}</div>
    </div>
    <!-- HAMBURGER MENU -->
    <div class="hamburger">
        <mat-icon (click)="toggle()">menu</mat-icon>
    </div>
    
</div>





