<div class="app-header-container">
    <div class="app-header-title">
        <a [routerLink]="['/']">{{'header.title' | translate}}</a>
    </div>
    <div class="app-header-links" [class.app-expanded]="isExpanded">
        <!-- <a [routerLink]="['/']"><div class="app-table">{{ 'header.table' | translate }}</div></a> -->
        <!-- <a [routerLink]="['/about']"><div class="app-about">{{ 'header.about' | translate }}</div></a> -->
        <div class="app-lang" (click)="toggleLanguage()">{{ displayLanguage }}</div>
    </div>
    <!-- HAMBURGER MENU -->
    <div class="hamburger">
        <mat-icon (click)="toggle()">menu</mat-icon>
    </div>
    
</div>





