<div class="app-container">
    <div class="app-table">
        
        <!-- HLAVICKA -->
        <div class="app-row-items app-row-header">
            
            <div class="app-filters">
                <div class="app-filter">
                    <!-- <div class="app-button-title">{{ 'table.filter.filter' | translate }}</div> -->
                    <input class="input" type="text" [(ngModel)]="filter" (ngModelChange)="filterMe(filter)" placeholder="{{ 'table.filter.placeholder' | translate }}" />    
                </div>
                <!-- <div class="app-filter">
                    <div class="app-button-title">{{ 'table.filter.view' | translate }}</div>
                    <div class="app-button-container">
                        <div class="app-button app-button-basic" (click)="viewSome()" [ngClass]="{'active' : view === 0}">{{ 'table.filter.button1' | translate }}</div>
                        <div class="app-button app-button-all" (click)="viewAll()" [ngClass]="{'active' : view === 1}">{{ 'table.filter.button2' | translate }}</div>
                        <div class="app-button app-button-all" (click)="viewTechnicInfo()" [ngClass]="{'active' : view === 2}">{{ 'table.filter.button3' | translate }}</div>
                        <div class="app-button app-button-all" (click)="viewStaticticInfo()" [ngClass]="{'active' : view === 3}">{{ 'table.filter.button4' | translate }}</div>
                    </div>
                </div> -->
                <div class="app-filter">
                    <!-- <div class="app-button-title">{{ 'table.filter.display' | translate }}</div> -->
                    <div class="app-button-container">
                        <div class="app-button app-button-col-all" (click)="displayAll()" [ngClass]="{'active' : display === 0}">{{ 'table.filter.display_all' | translate }}</div>
                        <div class="app-button app-button-col-public" (click)="displayPublic()" [ngClass]="{'active' : display === 1}">{{ 'table.filter.display_public' | translate }}</div>
                        <div class="app-button app-button-col-public" (click)="displayBoth()" [ngClass]="{'active' : display === 2}">{{ 'table.filter.display_both' | translate }}</div>
                    </div>
                </div>       
            </div>
            <div class="app-filters-small-screen">
                <div class="app-filter line1">
                    <!-- <div class="app-button-title">{{ 'table.filter.filter' | translate }}</div> -->
                    <input class="input" type="text" [(ngModel)]="filter" (ngModelChange)="filterMe(filter)" placeholder="{{ 'table.filter.placeholder' | translate }}" />    
                </div>
                <div class="line2">
                    <!-- <div class="app-filter">
                        <div>
                            <div class="app-button-title">{{ 'table.filter.view' | translate }}</div>
                            <mat-select value="some" class="app-button-container">
                                <mat-option value="some"><div class="app-button app-button-basic" (click)="viewSome()" [ngClass]="{'active' : view === 0}">{{ 'table.filter.button1' | translate }}</div></mat-option>
                                <mat-option value="all"><div class="app-button app-button-all" (click)="viewAll()" [ngClass]="{'active' : view === 1}">{{ 'table.filter.button2' | translate }}</div></mat-option>
                                <mat-option value="technic"><div class="app-button app-button-all" (click)="viewTechnicInfo()" [ngClass]="{'active' : view === 2}">{{ 'table.filter.button3' | translate }}</div></mat-option>
                                <mat-option value="statictic"><div class="app-button app-button-all" (click)="viewStaticticInfo()" [ngClass]="{'active' : view === 3}">{{ 'table.filter.button4' | translate }}</div></mat-option>
                            </mat-select>
                          </div>
                    </div> -->
                    <div class="app-filter">
                        <div>
                            <!-- <div class="app-button-title">{{ 'table.filter.display' | translate }}</div> -->
                            <mat-select value="all" class="app-button-container">
                                <mat-option value="all"><div class="app-button app-button-col-all" (click)="displayAll()" [ngClass]="{'active' : display === 0}">{{ 'table.filter.display_all' | translate }}</div></mat-option>
                                <mat-option value="public"><div class="app-button app-button-col-public" (click)="displayPublic()" [ngClass]="{'active' : display === 1}">{{ 'table.filter.display_public' | translate }}</div></mat-option>
                                <mat-option value="both"><div class="app-button app-button-col-public" (click)="displayBoth()" [ngClass]="{'active' : display === 2}">{{ 'table.filter.display_both' | translate }}</div></mat-option>
                            </mat-select>
                          </div>
                    </div>
                </div>        
            </div>  
        </div>

        <!-- FIRST ROW -->
        <div class="app-first-row">
            <div class="app-row-first">
                <!-- LOGO -->
                <div class="app-col app-col-logo"></div>
                
                <!-- NAZEV -->
                <div class="app-col app-col-simple app-col-name" (click)="onCellClicked('name')">
                    <div class="app-col-sort">
                        <span>{{ 'table.cols.name' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-name'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-name'">arrow_upward</mat-icon>
                    </div>
                </div>

                 <!-- KOD -->
                 <div class="app-col app-col-simple app-col-code" (click)="onCellClicked('code')">
                    <div class="app-col-sort">
                        <span>{{ 'table.cols.code' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-code'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-code'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- STAV -->
                <div *ngIf="viewAllCols || viewSomeCols || viewTechCols" class="app-col app-col-simple app-col-alive" (click)="onCellClicked('alive')">
                    <div class="app-col-sort">
                        <!-- <span>    {{ 'table.cols.alive' | translate }}</span> -->
                        <div class="app-col app-col-alive app-col-alive-grey"></div>
                        <mat-icon *ngIf="direction === 'desc-alive'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-alive'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- URL KR -->
                <div *ngIf="viewAllCols || viewSomeCols || viewTechCols" class="app-col app-col-simple app-col-url"  (click)="onCellClicked('url')">
                    <div class="app-col-sort">
                        <span>{{ 'table.cols.url' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-url'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-url'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- VERZE KR -->
                <div *ngIf="viewAllCols || viewTechCols" class="app-col app-col-simple app-col-version" (click)="onCellClicked('version')">
                    <div class="app-col-sort">
                        <span>{{ 'table.cols.version' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-version'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-version'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- URL UI -->
                <div *ngIf="viewAllCols || viewTechCols" class="app-col app-col-simple app-col-url"  (click)="onCellClicked('new_client_url')">
                    <div class="app-col-sort">
                        <span>{{ 'table.cols.new_client_url' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-new_client_url'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-new_client_url'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- VERZE UI -->
                <div *ngIf="viewAllCols || viewTechCols" class="app-col app-col-simple app-col-version" (click)="onCellClicked('new_client_version')">
                    <div class="app-col-sort">
                        <span>{{ 'table.cols.version' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-new_client_version'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-new_client_version'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- KOLEKCE -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-simple app-col-collections" (click)="onCellClicked('collections')">
                    <div class="app-col-sort">
                        <span>{{ 'table.cols.collections' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-collections'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-collections'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- DOKUMENTY -->
                <div *ngIf="viewAllCols || viewSomeCols || viewStatCols" class="app-col app-col-double app-col-documents" (click)="onDoubleCellClicked('documents')">
                    <div class="app-col-sort">
                        <span>{{ 'table.cols.documents' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-documents_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-documents_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-documents_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-documents_public'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- STRANKY -->
                <div *ngIf="viewAllCols || viewSomeCols || viewStatCols" class="app-col app-col-double app-col-pages" (click)="onDoubleCellClicked('pages')">
                    <div class="app-col-sort-center">
                        <span>{{ 'table.cols.pages' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-pages_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-pages_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-pages_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-pages_public'">arrow_upward</mat-icon>
                    </div>
                </div>

                <!-- DOPORUCENE -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-recommended" (click)="onDoubleCellClicked('recommended')">
                    <div class="app-col-sort-center">
                        <span>{{ 'table.cols.recommended' | translate }}</span>
                        <mat-icon *ngIf="direction === 'desc-recommended_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-recommended_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-recommended_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-recommended_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- monograph -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-monograph" (click)="onDoubleCellClicked('model_monograph')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.monograph' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_monograph_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_monograph_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_monograph_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_monograph_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- periodical -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-periodical" (click)="onDoubleCellClicked('model_periodical')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.periodical' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_periodical_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_periodical_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_periodical_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_periodical_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- soundrecording -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-soundrecording" (click)="onDoubleCellClicked('model_soundrecording')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.soundrecording' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_soundrecording_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_soundrecording_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_soundrecording_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_soundrecording_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- map -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-map" (click)="onDoubleCellClicked('model_map')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.map' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_map_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_map_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_map_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_map_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- graphic -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-graphic" (click)="onDoubleCellClicked('model_graphic')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.graphic' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_graphic_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_graphic_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_graphic_public'">arrow_downward</mat-icon>
                            <mat-icon *ngIf="direction === 'asc-model_graphic_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- sheetmusic -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-sheetmusic" (click)="onDoubleCellClicked('model_sheetmusic')"> 
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.sheetmusic' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_sheetmusic_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_sheetmusic_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_sheetmusic_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_sheetmusic_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- archive -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-archive" (click)="onDoubleCellClicked('model_archive')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.archive' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_archive_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_archive_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_archive_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_archive_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- manucript -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-manuscript" (click)="onDoubleCellClicked('model_manuscript')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.manuscript' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_manuscript_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_manuscript_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_manuscript_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_manuscript_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- article -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-article" (click)="onDoubleCellClicked('model_article')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.article' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_article_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_article_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_article_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_article_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- periodicalitem -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-periodicalitem" (click)="onDoubleCellClicked('model_periodicalitem')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.periodicalitem' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_periodicalitem_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_periodicalitem_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_periodicalitem_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_periodicalitem_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- supplement -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-supplement" (click)="onDoubleCellClicked('model_supplement')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.supplement' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_supplement_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_supplement_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_supplement_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_supplement_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- periodicalvolume -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-periodicalvolume" (click)="onDoubleCellClicked('model_periodicalvolume')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.periodicalvolume' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_periodicalvolume_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_periodicalvolume_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_periodicalvolume_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_periodicalvolume_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- monographunit -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-monographunit" (click)="onDoubleCellClicked('model_monographunit')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.monographunit' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_monographunit_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_monographunit_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_monographunit_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_monographunit_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- track -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-track" (click)="onDoubleCellClicked('model_track')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.track' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_track_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_track_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_track_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_track_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- soundunit -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-soundunit" (click)="onDoubleCellClicked('model_soundunit')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.soundunit' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_soundunit_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_soundunit_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_soundunit_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_soundunit_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- internalpart -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-internalpart" (click)="onDoubleCellClicked('model_internalpart')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.internalpart' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_internalpart_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_internalpart_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_internalpart_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_internalpart_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- oldprintomnibusvolume -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-oldprintomnibusvolume" (click)="onDoubleCellClicked('model_oldprintomnibusvolume')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.oldprintomnibusvolume' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_oldprintomnibusvolume_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_oldprintomnibusvolume_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_oldprintomnibusvolume_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_oldprintomnibusvolume_public'">arrow_upward</mat-icon>
                    </div>
                </div>
                <!-- picture -->
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-double app-col-picture" (click)="onDoubleCellClicked('model_picture')">
                    <div class="app-col-sort-center">
                        <div>{{ 'table.cols.picture' | translate }}</div>
                        <mat-icon *ngIf="direction === 'desc-model_picture_all'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_picture_all'">arrow_upward</mat-icon>
                        <mat-icon *ngIf="direction === 'desc-model_picture_public'">arrow_downward</mat-icon>
                        <mat-icon *ngIf="direction === 'asc-model_picture_public'">arrow_upward</mat-icon>
                    </div>
                </div>
            </div>  
        </div>

        <!-- TABULKA -->
        <div class="app-scrollable" >
            <div class="app-row" *ngFor="let record of filteredData">
                <div class="app-col app-col-logo">
                    <a href="./library/{{ record.code }}">
                        <img src="{{ record.logo }}" style="height: 20px; width: 20px; object-fit: cover; overflow: hidden;">
                    </a>
                    <div class="app-logo-hover-text">{{ record.name }}</div>
                </div>
                <div class="app-col app-col-name">
                    <a [routerLink]="['/library/', record.code ]" *ngIf="translate.currentLang == 'cs'"><div class="app-col app-col-name">{{ record.name }}</div></a>
                    <a [routerLink]="['/library/', record.code ]" *ngIf="translate.currentLang == 'en'"><div class="app-col app-col-name">{{ record.name_en }}</div></a>
                </div>
                <div *ngIf="viewAllCols || viewTechCols" class="app-col app-col-code">
                    <div>{{ record.code }}</div>
                </div>
                <div  *ngIf="viewAllCols || viewSomeCols || viewTechCols" class="app-col app-col-alive">
                    <div class="app-col-alive-true" *ngIf="record.alive === true"></div>
                    <div class="app-col-alive-false" *ngIf="record.alive === false"></div>
                </div>
                <div *ngIf="viewAllCols || viewSomeCols || viewTechCols" class="app-col app-col-url">
                    <a href="{{ record.url }}" target="_blank">{{ record.url }}</a>
                </div>
                <div *ngIf="viewAllCols  || viewTechCols" class="app-col app-col-version">
                    <a href="https://github.com/ceskaexpedice/kramerius/releases/tag/v{{ record.version }}" target="_blank">{{ record.version }}</a>
                </div>
                <div *ngIf="viewAllCols || viewTechCols" class="app-col app-col-url">
                    <a href="{{ record.new_client_url }}" target="_blank">{{ record.new_client_url }}</a>
                </div>
                <div *ngIf="viewAllCols  || viewTechCols" class="app-col app-col-version">
                    <div *ngIf="record.new_client_version">{{ record.new_client_version }}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-collections">
                    <div class="app-col-number1">{{record.collections | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewSomeCols || viewStatCols" class="app-col app-col-documents">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.documents_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.documents_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewSomeCols || viewStatCols" class="app-col app-col-pages">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.pages_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.pages_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-recommended">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.recommended_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.recommended_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-monograph">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_monograph_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_monograph_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-periodical">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_periodical_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_periodical_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-soundrecording">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_soundrecording_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_soundrecording_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-map">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_map_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_map_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-graphic">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_graphic_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_graphic_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-sheetmusic">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_sheetmusic_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_sheetmusic_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-archive">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_archive_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_archive_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-manuscript">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_manuscript_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_manuscript_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-article">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_article_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_article_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-periodicalitem">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_periodicalitem_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_periodicalitem_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-supplement">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_supplement_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_supplement_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-periodicalvolume">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_periodicalvolume_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_periodicalvolume_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-monographunit">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_monographunit_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_monographunit_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-track">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_track_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_track_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-soundunit">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_soundunit_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_soundunit_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-internalpart">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_internalpart_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_internalpart_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-oldprintomnibusvolume">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_oldprintomnibusvolume_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_oldprintomnibusvolume_public | number:'':'cs'}}</div>
                </div>
                <div *ngIf="viewAllCols || viewStatCols" class="app-col app-col-picture">
                    <div *ngIf="display_all || display_both" class="app-col-number1">{{record.model_picture_all | number:'':'cs'}}</div>
                    <div *ngIf="display_both" >|</div> 
                    <div *ngIf="display_public || display_both" class="app-col-number2">{{record.model_picture_public | number:'':'cs'}}</div>
                </div>
            </div>
        </div>

    </div>
</div>
