@import './src/variables.scss';

.app-container {
    overflow-x: visible;
    overflow-y: auto;
    height: 100%;
    .app-table {
        padding: 0px 0 0 0;
        width: fit-content;
        min-width: 100%;
        .app-row-header {
            .app-filters {
                padding: 10px 20px;
                position: fixed;
                width: 100%;
                background-color: $bg-color;
                top: 50px;
                display: flex;
                z-index: 2;
                .app-search-wrapper {
                    background: #fff;
                    display: flex;
                    background: #fff;
                    margin-right: 16px;
                    border-radius: 5px;
                    height: 33px;
                    .app-search-btn {
                        margin-left: 8px;
                        font-size: 20px;
                        line-height: 33px;
                        color: #6e6e6e;
                    }
                    .app-search {
                        width: 200px;
                        @media only screen and (max-width: 400px) {
                            width: calc(100vw - 194px);
                        }
                        padding-left: 5px;
                        min-height: 1px;
                        input {
                            outline: none;
                            border: none;
                            color: #6e6e6e;
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            background: transparent;
                        }
                    }
                }
                .app-select-wrapper {
                    mat-select {
                    padding: 5px 10px 5px 10px;
                    margin: 0px 0px 0 0px;
                    border-radius: 5px;
                    background: #fff;
                    height: 23px;
                    line-height: 23px;
                    }
                }
                // .app-button {
                //     padding: 5px 10px;
                //     user-select: none;
                // }
                // .app-button:not(:last-child) {
                //     border-right: 1px solid rgb(118 118 118);;
                // }
                // .app-button:first-child {
                //     border-top-left-radius: 2px;
                //     border-bottom-left-radius: 2px;
                // }
                // .app-button:last-child {
                //     border-top-right-radius: 2px;
                //     border-bottom-right-radius: 2px;
                // }
                // .app-button:hover,
                // .app-button:active {
                //     background-color: #d2e3f0;
                // }

                // .active, 
                // .active:hover {
                //     background-color: #4896d1;
                //     color: white;
                // }
                
            }
            // .app-filters-small-screen {
            //     display: none;
            // }
  
        }
        .app-first-row {
            position: sticky;
            top: 102px;
            z-index: 2;
            .app-row-first {
                display: flex;
                border-top: 1px solid $border-light;
                border-bottom: 1px solid $border-light;
                height: 40px;
                line-height: 40px;
                background-color: white;
                color: #a099a6;
            }
            mat-icon {
                line-height: 40px;
                font-size: 24px;
                width: auto;
                height: auto;
                color: "#a099a6"
            }
            .app-col-sort {
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                user-select: none;
            }
            .app-col-sort-center {
                display: flex;
                justify-content: center;
                cursor: pointer;
                user-select: none;
            }
            .app-info-icon {
                mat-icon {
                    font-size: 17px; 
                    margin-left: 5px;
                }
            }
        }

        .app-scrollable {
            height: calc(100% - 80px);
            width: fit-content;
            padding: 102px 0 0 0;
            min-width: 100%;
            color: #575b64;
            .app-row {
                display: flex; 
                border-bottom: 1px solid $border-light;
                height: 40px;
                line-height: 40px;
            }
            .app-col {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .app-row:hover:not(.app-row-first) {
            // border-bottom: 1px solid rgb(175, 175, 175);
            background-color: #f3f3f8;
        }
        .app-col {
            padding-left: 5px;       
        }
        .app-col-logo {
            position: sticky;
            left: 0;
            width: 40px;
            background-color: white;
            a img {
                margin: 8px;
                margin: 8px 10px 8px 6px;
                height: 24px; 
                width: 24px; 
                object-fit: cover; 
                overflow: hidden;
            }
        }
        .app-row:hover:not(.app-row-first) .app-col-logo {
            background-color: #f3f3f8;
        }

        .app-col-name {
            width: 300px;
            padding: 0 10px 0px 0px;
            a {
                color: #474b54;
                text-decoration: none;
            }
        }
        .app-col-code {
            width: 55px;
        }
        .app-col-alive {
            width: 30px;
            display: flex;
            // justify-content: center;
            .app-col-alive-true {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #019437;
                margin: 14px 0 0 0;
            }
            .app-col-alive-false {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #dc4b49;
                margin: 14px 0 0 0;
            }
            .app-col-alive-grey {
                width: 7px;
                height: 12px;
                border-radius: 50%;
                background: #a099a6;
                margin: 14px 0 0 0;
            }
        }
        .app-col-url {
            width: 240px;
            a {
                line-height: 40px;
                color: #7391a9;
                text-decoration: none;
            }
        }
        .app-col-version {
            width: 60px;
            a {
                line-height: 40px;
                color: #575b64;
                text-decoration: none;
            }
        }
        .app-col-collections {
            width: 80px;
            display: flex;
            justify-content: center;
        }
        .app-col-documents {
            width: 150px;
            display: flex;
            justify-content: center;
        }
        .app-col-pages {
            width: 150px;
            display: flex;
            justify-content: center;
        }
        .app-col-recommended {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-monograph {
            width: 150px;
            display: flex;
            justify-content: center;
        }
        .app-col-periodical {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-soundrecording {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-map {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-graphic {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-sheetmusic {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-archive {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-manuscript {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-article {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-periodicalitem {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-supplement {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-periodicalvolume {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-monographunit {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-track {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-soundunit {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-internalpart {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-oldprintomnibusvolume {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-picture {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-last {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-number1 {
            padding: 0 5px 0 0;
            cursor: pointer;
        }
        .app-col-number2 {
            padding: 0 0 0 5px;
        }
        .app-col-license {
            width: 130px;
            display: flex;
            justify-content: center;
        }
    }
}

.app-container::-webkit-scrollbar {
    height: 10px;
    width: 0px;
}
.app-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .4);
    width: 10px;
    border-radius: 4px;
} 
.app-container::-webkit-scrollbar-button {
    display: block;
    height: 0px;
    width: 0px;
}



::ng-deep {
    .mat-select-value {
        color: #6e6e6e;
    }
}