.app-container {
    height: 100%;
    // .app-header {
    //     position: fixed;
    //     height: 50px;
    //     width: 100%;
    //     z-index: 2;
    // }
    .app-table {
        padding: 0px 0 0 0;
        width: fit-content;
        // overflow-x: auto;
        .app-row-header {
            height: 54px;
            background-color: white;
            position: sticky;
            top: 63px;
            z-index: 1;
            padding: 35px 0 0 0;
            .app-filter {
                padding: 10px 40px;
                position: fixed;
                width: 100%;
                background-color: lightblue;
                top: 50px;
                display: flex;
                input {
                    padding: 0 15px 0 10px;
                    margin: 0 15px 0 0;
                }
                .app-button {
                    margin: 0px 0px;
                    border: 1px solid grey;
                    padding: 3px 10px;
                    cursor: pointer;
                }
                .app-button:hover, 
                .app-button:target,
                .active {
                    background-color: navy;
                    color: white;
                }
            }
            .app-col {
                color: navy;
                font-weight: bolder;
            }
            .app-col-simple {
                cursor: pointer;
                user-select: none;
            }
            .app-col-double  {
                display: flex;
                flex-direction: column;
            }
            .app-col-sort {
                display: flex;
                justify-content: flex-start;
                padding-top: 3px;
            }
            .app-col-sort-center {
                display: flex;
                justify-content: center;
                padding-top: 3px;
            }
            mat-icon {
                margin: 3px 0px 0px 5px;
                font-size: 15px;
            }
            .app-col-sort-all-public {
                display: flex;
                justify-content: space-between;
                .app-col-documents_all {
                    display: flex;
                    flex-direction: row;
                    font-size: 13px;
                    font-weight: normal;
                    cursor: pointer;
                    user-select: none;
                    mat-icon {
                        font-size: 13px;
                        width: auto;
                        height: auto;
                    }
                    // width: 75px;
                }
                .app-col-documents_public {
                    display: flex;
                    flex-direction: row;
                    font-size: 13px;
                    font-weight: normal;
                    cursor: pointer;
                    user-select: none;
                    mat-icon {
                        font-size: 13px;
                        width: auto;
                        height: auto;
                    }
                    // width: 75px;
                }
            }   
        }
        .app-scrollable {
            height: calc(100% - 80px);
            width: fit-content;
            padding: 66px 0 0 0;
        }
        .app-row {
            display: flex;  
            border-bottom: 1px solid rgb(216, 216, 216);  
        }
        .app-col {
            padding: 5px;         
        }
        .app-col-logo {
            position: sticky;
            left: 0;
            width: 30px;
            background-color: white;
            display: flex;
            z-index: 0;
            a img {
                padding: 0 0 0 5px;

            }
        }
        .app-col-logo .app-logo-hover-text {
            visibility: hidden;
            position: absolute;
            z-index: 1;
            width: 200px;
            margin: 0 0 0 35px;
            padding: 5px;
            border-radius: 4px;
            background: rgba(66, 66, 66, 0.9);
            color: white;
        }

        .app-col-logo:hover .app-logo-hover-text {
            visibility: visible;
        }
        .app-col-name {
            width: 280px;
            margin: 0 0 0 0px;
            a {
                color: navy;
                text-decoration: none;
            }
        }
        .app-col-alive {
            width: 30px;
            display: flex;
            justify-content: center;
            .app-col-alive-true {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #36b11c;;
            }
            .app-col-alive-false {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #b11c1c;;
            }
            .app-col-alive-null {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #838383;;
            }
        }
        .app-col-url {
            width: 280px;
            a {
                color: navy;
                text-decoration: none;
            }
        }
        .app-col-version {
            width: 50px;
            a {
                color: black;
                text-decoration: none;
            }
        }
        .app-col-collections {
            width: 80px;
            display: flex;
            justify-content: center;
        }
        .app-col-documents {
            width: 150px;
            display: flex;
            justify-content: center;
        }
        .app-col-pages {
            width: 150px;
            display: flex;
            justify-content: center;
        }
        .app-col-recommended {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-monograph {
            width: 150px;
            display: flex;
            justify-content: center;
        }
        .app-col-periodical {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-soundrecording {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-map {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-graphic {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-sheetmusic {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-archive {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-manuscript {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-article {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-periodicalitem {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-supplement {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-periodicalvolume {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-monographunit {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-track {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-soundunit {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-internalpart {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-oldprintomnibusvolume {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-picture {
            width: 130px;
            display: flex;
            justify-content: center;
        }
        .app-col-number1 {
            padding: 0 5px 0 0;
        }
        .app-col-number2 {
            padding: 0 0 0 5px;
        }
    }
}