<div class="app-container">
    <div class="app-header">
        <app-header></app-header>
    </div>
    <div class="app-table">
        <!-- HLAVICKA -->
        <div class="app-row app-row-header">
            <!-- LOGO -->
            <div class="app-col app-col-logo"></div>
            <!-- NAZEV -->
            <div class="app-col app-col-name" id="name" (click)="onCellClicked('name', this.direction)">
                <div *ngIf="(this.direction !== 'asc-name') && (this.direction !== 'desc-name')" class="app-col-sort">
                    <span>{{ 'table.cols.name' | translate }}</span>
                    <span><mat-icon style="color: rgb(175, 175, 175);">arrow_upward</mat-icon></span>
                </div>
                <div *ngIf="this.direction === 'asc-name'" class="app-col-sort">
                    <span>{{ 'table.cols.name' | translate }}</span>
                    <span><mat-icon>arrow_upward</mat-icon></span>
                </div>
                <div *ngIf="this.direction === 'desc-name'" class="app-col-sort">
                    <span>{{ 'table.cols.name' | translate }}</span>
                    <span><mat-icon>arrow_downward</mat-icon></span>
                </div>
            </div>
            <!-- STAV -->
            <div class="app-col app-col-alive">Stav</div>
            <!-- URL UI -->
            <div class="app-col app-col-url">Uživatelské rozhraní</div>
            <!-- URL KR -->
            <div class="app-col app-col-url">Kramerius</div>
            <!-- VERZE -->
            <div class="app-col app-col-version" (click)="onCellClicked('version', this.direction)">
                <div *ngIf="(this.direction !== 'asc-version') && (this.direction !== 'desc-version')" class="app-col-sort">
                    <span>Verze</span>
                    <span><mat-icon style="color: rgb(175, 175, 175);">arrow_upward</mat-icon></span>
                </div>
                <div *ngIf="this.direction === 'asc-version'" class="app-col-sort">
                    <span>Verze</span>
                    <span><mat-icon>arrow_upward</mat-icon></span>
                </div>
                <div *ngIf="this.direction === 'desc-version'" class="app-col-sort">
                    <span>Verze</span>
                    <span><mat-icon>arrow_downward</mat-icon></span>
                </div>
            </div>
        </div>
        <!-- TABULKA -->
        <div class="app-scrollable" >
            <div class="app-row" *ngFor="let record of this.data">
                <div class="app-col app-col-logo"><img src="{{ record.logo }}" style="height: 20px;"></div>
                <div class="app-col app-col-name">
                    <a href="./library/{{ record.code }}">{{ record.name }}</a>
                </div>
                <div class="app-col app-col-alive">
                    <div class="app-col-alive-true" *ngIf="record.alive === true"></div>
                    <div class="app-col-alive-false" *ngIf="record.alive === false"></div>
                </div>
                <div class="app-col app-col-url">
                    <a href="{{ record.new_client_url }}" target="_blank">{{ record.new_client_url }}</a>
                </div>
                <div class="app-col app-col-url">
                    <a href="{{ record.url }}" target="_blank">{{ record.url }}</a>
                </div>
                <div class="app-col app-col-version">
                    <a href="https://github.com/ceskaexpedice/kramerius/releases/tag/v{{ record.version }}" target="_blank">{{ record.version }}</a>
                </div>
            </div>
        </div>

    </div>
</div>
