@import './src/variables.scss';

.app-container {
    height: 100%;
    app-header {
        position: fixed;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid $border-light;
        z-index: 10;
    }
}
