<div class="app-container">
    <p class="app-title">{{ 'home.title' | translate }}</p>
    <p class="app-text">{{ 'home.text' | translate }}</p>
    <p class="app-text">{{ 'home.statistic-part1' | translate }} {{ libraries }}{{ 'home.statistic-part2' | translate }} {{ documents | number:'':'cs'}}{{ 'home.statistic-part3' | translate }} {{ documents_public | number:'':'cs'}} {{ 'home.statistic-part4' | translate }}  </p>
    <div class="app-button">
        <a href="/table">
            <button>{{ 'home.button' | translate }}</button>
        </a>
    </div>
</div>
